<h1>Welcome</h1>
<br>
<br>
<% if logged_in? %>
    <h2><%= current_user.name %></h2>
    <%= button_to "Log out", logout_path, class: 'btn btn-outline-danger'%>
<% end %>
<br>
<br>
<br>
<%= button_to "Log in", login_path, method: :get, class: 'btn btn-outline-primary my-3'%>
<%= button_to "Sign Up", new_user_path, method: :get, class: 'btn btn-primary'%>
